= simple_form_for [movie, review], remote: true do |f|
  #rating-form
    %label Rating
  %br  
  = f.input :text, label: 'Comment'
  = f.button :submit

:javascript
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
